.newsFeedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.newsFeedHeading {
  color: rgb(25, 141, 164);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.newsFeed {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
